@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/style.css */
.bg-slate-600 {
  background-color: rgb(71 85 105);
}

@media (max-width: 640px) {
  #search {
    margin-left: 30px;
    margin-top: 50px;
  }
  #geomark {
    margin-left: 30px;
    margin-top: -20px;
  }
  #searchResult {
    margin-top: 130px;
  }
  #icon {
    margin-top: 7px;
  }
}
