@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/style.css */

/* Common styles for buttons */
.button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* Style for the "About Us" button */
.about-button {
  background-color: #6c757d;
}

/* Style for the "Find a Charger" button */
.find-charger-button {
  background-color: #28a745;
}

/* Style for the "LogIn/SignUp" button */
.login-button {
  background-color: #007bff;
}

/* Style for the welcome message */
.biggerText_center {
  font-size: 1.5em;
  text-align: center;
}

/* Style for the number of chargers paragraph */
.align_right {
  text-align: right;
}

/* Style for the information span */
.info-span {
  display: block;
  margin-bottom: 10px;
}

.login-container {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

/* Form input styles */
.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button styles */
.login-form button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}
/* Style for the "Forget your Password" button */
.forget-password-button {
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

/* Button styles */
.search-container button {
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  background-color: #d3da44;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* Input styles */
.search-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

@media (min-width: 525px) {
  .flex_parent {
    display: flex;
    flex-direction: column;
  }
}

.sidebar {
  flex: 0.1;
}

.main_content {
  flex: 0.9;
}
