:root {
  --primary-color: #680606;
  --text-color: #333;
  --hover-color: #8d1010;
}

/* Topbar styling */
nav {
  padding: 1rem;
}

/* Logo styling */
nav img {
  height: 5rem;
  margin-right: 0.5rem;
}

nav span {
  font-size: 1.5rem;
}

/* Toggle button styling */
button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  margin-bottom: 10px;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Navigation links styling */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--hover-color);
}

/* Add extra spacing between form fields */
.input-container {
  margin-bottom: 10px;
}

/* Styles for form fields */
input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Styles for password field */
.password-field {
  margin-bottom: 15px;
}

/* Styles for form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styles for buttons */
button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.signin-button {
  margin-bottom: 5px;
}

/* Styles for the "Don’t have an account yet?" message */
.signup-message {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Updated styles for the signup view layout */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
}

.image-container {
  margin-right: 1rem;
}

.form-container {
  width: 50%; /* Adjust the width as needed */
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center; /* Center items on small screens */
  }
  .form-container {
    width: 100%;
  }


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f804; 
  text-align: center;
  padding: 10px;
  border-top: 1px solid #cccccc10; 
}

footer div {
  border-top: 1px solid rgba(204, 204, 204, 0.1);
  padding: 10px; 
  color: #555; 
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #555;
  margin: 0 10px; 
}
  
}
